@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    * {
        scrollbar-width: thin;
    }
    .input-block{
        @apply mb-5;
    }

    .input-block input{
        @apply ml-2 py-0 rounded;
    }

    .input-block select{
        @apply ml-2 py-0 rounded;
    }

    .input-error{
        position: absolute;
        background-color: white;
    }
}

@layer components {
    .btn {
        @apply inline-block px-2 py-1 h-fit rounded cursor-pointer border;
    }
    .btn-green {
        @apply bg-green-500 hover:bg-green-600 text-white;
    }
    .btn-blue {
        @apply bg-blue-500 hover:bg-blue-600 text-white;
    }
    .btn-disabled {
        @apply cursor-not-allowed bg-gray-500;
    }
}
